node_modules
.next

# Logs e arquivos temporários
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos locais e configurações
.env.local
.env.development
.env.test
.env.production
.env.*.local
.env.*.development
.env.*.test
.env.*.production

# Arquivos de compilação
build/
dist/

# Arquivos locais do Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?